@model IEnumerable<SD_3200_.Models.cours>

@{
    if (Session["userEmail"] == null)
    {
        Layout = "~/Views/Shared/generalLayout.cshtml";
        Response.Redirect("~/Home/LoginPage");
    }
    else
    {
        Layout = "~/Views/Shared/adminLoginLayout.cshtml";
    }
}
<head>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    
        <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
        <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
        </script>
    
</head>

<div id="Courses" style="margin-top:100px;">
    @foreach (var item in Model)
    {
       <div class="title">
            <h1>@Html.DisplayFor(modelItem => item.course_name)</h1>
           <div class="image">
                <img src="~/Content/Images/@Html.DisplayFor(modelItem => item.course_image)" alt="@Html.DisplayFor(modelItem => item.course_name)" />
           </div>
           <br/>
           <h3>Course Description</h3>
            <h5>@Html.DisplayFor(modelItem => item.course_desc)</h5>
           <br/><br/>
           <h3>Course Duration</h3>
           <h5>This course is approximately @Html.DisplayFor(modelItem => item.course_duration) hours long</h5>
           <br/><br/>
           <h3>Course Price</h3>
           <h5>Tk. @Html.DisplayFor(modelItem => item.course_price)</h5>
       </div>
    <br/><br/><br/>
              <div class="align-center">
                  @using (Html.BeginForm("LessonList", "cours"))
                  {
                      <button type="submit" class="btn btn-success" name="course_ID" value="@item.course_ID">Show Lessons</button>

                  }
                  @using (Html.BeginForm("AddLessonForm", "cours"))
                  {
                      <button type="submit" name="course_id" value="@item.course_ID">Add Lesson</button>

                  }
                  <br />
                  @using (Html.BeginForm("Edit", "cours"))
                  {
                      <button type="submit" class="btn btn-primary" name="editCourse" value="@item.course_ID">Edit</button>

                  }
                  <br />
                  @using (Html.BeginForm("DeleteCourse", "cours"))
                  {
                      <button type="submit" name="course_ID" value="@item.course_ID">Delete</button>

                  }

              </div>
    }
       
</div>
