@model SD_3200_.Models.cours

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>cours</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.course_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.course_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.course_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course_image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.course_duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course_duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.course_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.instructor.instructor_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instructor.instructor_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.course_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
