@model IEnumerable<SD_3200_.Models.cours>
    @{
        ViewBag.Title = "Courses";
        if (Session["userEmail"] == null)
        {
            Layout = "~/Views/Shared/generalLayout.cshtml";
            <!--Response.Redirect("~/Home/LoginPage");-->
        }
        else
        {
            Layout = "~/Views/Shared/loginLayout.cshtml";
        }
    }
<head>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
    
<div class="heroDiv" style=" text-align: center;">
    <div class="textDiv">
        <h1>Welcome to Courses</h1>
        <p>Choose from 100+ online video courses with new additions published every month </p>
        <p>Find courses that match your interest and get the perfect one for you</p>
        <p><a href="#Courses" class="btn btn-primary btn-lg">Explore Now</a></p>
    
    </div>
</div>
<!--<p>
    @Html.ActionLink("Create New", "Create")
</p>-->
<div id="Courses" style="margin-top:100px;">
        <!--<tr>
        <th>
            @Html.DisplayNameFor(model => model.course_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.course_desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.course_image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.course_duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.course_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instructor.instructor_name)
        </th>
        <th></th>
    </tr> -->
    <!--<p>
        @Html.ActionLink("Create New", "Create")
    </p>-->
    <div id="Courses" style="margin-top:100px;">

        <div class="grid_">
            @foreach (var item in Model)
            {
                <div class="card hoverLink">
                    <a href="/Home/LoginPage" style="text-decoration: none; color: black;">
                        <div class="image">
                            <img src="~/Content/Images/@Html.DisplayFor(modelItem => item.course_image)" alt="No image" />
                        </div>
                        <div class="title textCenter">
                            <h3>@Html.DisplayFor(modelItem => item.course_name)</h3>
                        </div>
                        <div class="description textCenter">
                            <p>@Html.DisplayFor(modelItem => item.course_desc)</p>
                        </div>
                        <!--
                        <div class="button textCenter">
                            <p><a href='@{Url.Action("Delete", "cours", new{id=item.course_ID});}'>Edit/Delete Course</a></p>
                        </div>
                            -->
                        @using (Html.BeginForm("CoursePage", "cours"))
                        {
                            //@Html.AntiForgeryToken();
                            <button class="btn btn-primary" type="submit" name="course_ID" value="@item.course_ID" align="center">View</button>
                        }

                    </a>
                </div>
            
            }
        </div>
</div>
    </div>